body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(33, 32, 32);
}
.conteiner{
    background-color: rgb(163, 221, 254);
    padding: 70px 50px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.conteiner h2{
    text-align: center;
}
input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.valid {
    border-color: green;
}
.invalid {
    border-color: red;
}
.error {
    color: red;
    font-size: 12px;
}


